<h1>Your Ratings</h1>
<div class='movie-list'>

  <% @ratings.each do |rating| %>
  <div class="ratings-movie">

    <div class='poster'>
      <%= link_to(image_tag(rating.movie.poster_url, height: '300'), rating.movie.trailer_url) %>
    </div>

    <div class='title'>
      <%= link_to(rating.movie.title, rating.movie.trailer_url) %>
    </div>
    <p>Your current rating: <%= rating.rating_value.to_i %></p>
    <span>Rate Movie: </span>
    <span class="rating-value"><%= link_to '1', rating_path(rating, rating_value: 1, movie_id: rating.movie.id),  :method => :put %></span>
    <span class="rating-value"><%= link_to '2', rating_path(rating, rating_value: 2, movie_id: rating.movie.id),  :method => :put %></span>
    <span class="rating-value"><%= link_to '3', rating_path(rating, rating_value: 3, movie_id: rating.movie.id),  :method => :put %></span>
    <span class="rating-value"><%= link_to '4', rating_path(rating, rating_value: 4, movie_id: rating.movie.id),  :method => :put %></span>
    <span class="rating-value"><%= link_to '5', rating_path(rating, rating_value: 5, movie_id: rating.movie.id),  :method => :put %></span>
  </div>
<% end %>
</div>
