<div class='movie-list'>
  <h1 class='page-header'>Your Ratings</h1>
  <% @ratings.each do |rating| %>
    <div class="ratings-movie">
      <div class='poster'>
        <%= link_to(image_tag(rating.movie.poster_url, height: '300'), rating.movie.trailer_url) %>
      </div>

      <div class='title'>
        <%= link_to(rating.movie.title, rating.movie.trailer_url) %>
      </div>

      <div class='current-rating'>
        Your Current Rating: <%= rating.rating_value.to_i %>
      </div>
      <div class="rating" data-current_rating="<%= rating.rating_value %>">
        <%= link_to '☆', rating_path(rating, rating_value: 1, movie_id: rating.movie.id),  :method => :put, remote: true, class: "movie-rating-value", 'data-movie_id' => rating.movie.id, 'data-rating_value' => 1 %>
        <%= link_to '☆', rating_path(rating, rating_value: 2, movie_id: rating.movie.id),  :method => :put, remote: true, class: "movie-rating-value",  'data-movie_id' => rating.movie.id, 'data-rating_value' => 2%>
        <%= link_to '☆', rating_path(rating, rating_value: 3, movie_id: rating.movie.id),  :method => :put, remote: true, class: "movie-rating-value",  'data-movie_id' => rating.movie.id, 'data-rating_value' => 3%>
        <%= link_to '☆', rating_path(rating, rating_value: 4, movie_id: rating.movie.id),  :method => :put, remote: true, class: "movie-rating-value",  'data-movie_id' => rating.movie.id, 'data-rating_value' => 4%>
        <%= link_to '☆', rating_path(rating, rating_value: 5, movie_id: rating.movie.id),  :method => :put, remote: true, class: "movie-rating-value",  'data-movie_id' => rating.movie.id, 'data-rating_value' => 5%>
      </div>

    </div>
  <% end %>
</div>
