<div class="ratings-movie">
  <div class='poster'>
    <%= link_to(image_tag(movie.poster_url, height: '300'), movie.trailer_url) %>
  </div>

  <div class='title'>
    <%= link_to(movie.title, movie.trailer_url) %>
  </div>
  <span>Rate Movie: </span>
  <span class="rating-value"><%= link_to '1', ratings_path(rating_value: 1, movie_id: movie.id),  :method => :post %></span>
  <span class="rating-value"><%= link_to '2', ratings_path(rating_value: 2, movie_id: movie.id),  :method => :post %></span>
  <span class="rating-value"><%= link_to '3', ratings_path(rating_value: 3, movie_id: movie.id),  :method => :post %></span>
  <span class="rating-value"><%= link_to '4', ratings_path(rating_value: 4, movie_id: movie.id),  :method => :post %></span>
  <span class="rating-value"><%= link_to '5', ratings_path(rating_value: 5, movie_id: movie.id),  :method => :post %></span>
</div>
