<%= link_to "Movies Cucumbers", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>

    <li>
    <%= link_to 'Get Recommendations', recommendations_path %>
    </li>
    <li>
    <%= link_to 'Rate Some Movies', ratings_path %>
    </li>
    <li>
    <%= link_to 'My Ratings', user_ratings_path %>
    </li>
    <li>
    <%= link_to 'Edit Account', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
  <% end %>
</ul>
